{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "tsxSingleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "printWidth": 80,
  "eslintIntegration": false,
  "tslintIntegration": true,
  "stylelintIntegration": false,
  "requireConfig": false,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}